  * {
      outline: none;
  }

  .mihome .nav {
      display: flex;
      flex-flow: column wrap;
      justify-content: space-between;
      width: 100%;
      height: 200px;
      background-color: #f7f7f7;
      cursor: pointer;
  }

  .mihome .nav .user {
      display: flex;
      height: 70px;
      justify-content: space-between;
      background-color: transparent;
  }

  .mihome .nav .user span {
      flex: 1;
      height: 40px;
      line-height: 40px;
      font-size: 24px;
  }

  .mihome .nav .user span:nth-child(1) {
      flex: 6;
  }

  .mihome .nav .user .userhome {
      margin-left: 10px;
  }

  .mihome .nav .user .userhome::after {
      font-family: 'iconfont';
      content: "\e6c8";
  }

  .mihome .nav .navbutton {
      display: flex;
  }

  .mihome .nav .navbutton .switchButton {
      flex: 8;
  }

  .mihome .nav .navbutton .switchButton span {
      box-sizing: border-box;
      height: 42px;
      line-height: 42px;
      font-size: 16px;
      padding-left: 10px;
      color: #919191;
      cursor: pointer;
  }

  .mihome .nav .navbutton .switchButton .tab-button.active {
      color: #000;
      font-weight: 700;
  }

  .mihome .nav .navbutton .menu {
      flex: 1;
      height: 42px;
      line-height: 42px;
      font-size: 16px;
      text-align: center;
      background-color: #d8d8d8;
      border-radius: 10px;
      margin-right: 10px;
  }

  .mihome .nav .navbutton .menu:after {
      font-family: 'iconfont';
      content: "\e660";
  }

  .mihome .smart {
      margin: 10px 10px;
      height: 140px;
      border-radius: 19px;
      background-color: #fff;
      cursor: pointer;
      box-shadow: 0px 2px 5px 1px darkgray;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
  }

  .mihome .smart .son {
      width: 100px;
      height: 100px;
      text-align: center;
      color: #4a4a4a;
      border: 1px solid transparent;
  }

  .mihome .smart .son span {
      display: inline-block;
      height: 60px;
      width: 60px;
      line-height: 60px;
      border: 1px solid transparent;
      border-radius: 30px;
      font-size: 16px;
      background-color: #f7f7f7;
  }

  .tapbar {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      height: 62.5px;
      border-top: 1px solid #e8e8e8;
      background-color: #fff;
      display: flex;
      justify-content: space-around;
      align-items: center;
  }

  .tapbar div h3 {
      font-weight: normal;
  }

  .fade-enter-active, .fade-leave-active {
      transition: opacity 0.5s ease;
  }

  .fade-enter-from, .fade-leave-to {
      opacity: 0;
  }

  .list-enter-active, .list-leave-active {
      transition: all 1s ease;
  }

  .list-enter-from, .list-leave-to {
      opacity: 0;
  }